ul {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.horizon-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotCity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  width: 100%;
  margin-bottom: -5px;
  padding-bottom: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotCity-content,
.hotCity-double-content {
  position: relative;
  width: 202px;
  margin-right: 13px;
  background: #ffffff;
  border: solid #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
          box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}

.hotCity-content {
  border-width: 14px 12px 14px 13px;
  height: 245px;
}

.hotCity-content > .hotCity-img {
  width: 100%;
  height: 100%;
}

.hotCity-content > .hotCity-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0b0c;
  opacity: 0.3;
  z-index: 1;
}

.hotCity-double-content {
  border-width: 7px 9px 7px 8px;
  height: 120px;
}

.hotCity-double-content > .hotCity-img {
  width: 100%;
  height: 100%;
}

.hotCity-double-content > .hotCity-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0b0c;
  opacity: 0.3;
  z-index: 1;
}

.hotCity-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotCity-text {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.arrow-icon {
  background-color: #0d0b0c;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 3px #0d0b0c;
          box-shadow: 0px 4px 3px #0d0b0c;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=city.css.map */