@import "bootstrap/scss/_functions.scss";
@import "../../helpers/_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.home-content {
  height: 100vh;
}
.home-banner {
  height: 490px;
  background-image: url("@/assets/images/beach.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.restaurant-banner {
  height: 490px;
  background-image: url("@/assets/images/restaurant.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
@mixin flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-text {
  position: sticky;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.theme-text {
  font-family: Noto Sans TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

.select-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > select {
    margin-right: 6px;
  }
}

.sticky-left {
  position: sticky;
  height: 100%;
  margin-top: 0;
  float: left;
}

.search-bar {
  border-radius: 2px;
  border: rgb(0, 0, 0) 1px solid;
  padding: 16px;
  background-color: rgb(226, 207, 144);
}

.search-bar_icon {
  @include flex-column-center
}
