@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.horizon-scroll {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
}

.hotCity-wrapper {
  display: flex;
  height: 250px;
  width: 100%;
  overflow-x:scroll;
  margin-bottom: -5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.hotCity-content,
.hotCity-double-content {
  position: relative;
  width: 202px;
  margin-right: 13px;
  background: #ffffff;
  border: solid #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}

.hotCity-content {
  border-width: 14px 12px 14px 13px;
  height: 245px;
  > .hotCity-img {
    width: 100%;
    height: 100%;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0d0b0c;
      opacity: 0.3;
      z-index: 1;
    }
  }
}
.hotCity-double-content {
  border-width: 7px 9px 7px 8px;
  height: 120px;
  > .hotCity-img {
    width: 100%;
    height: 100%;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0d0b0c;
      opacity: 0.3;
      z-index: 1;
    }
  }
}

.hotCity-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  @include flex-center
}
.hotCity-text {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.arrow-icon {
  background-color: #0d0b0c;
  border-radius: 6px;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 20%);
  width: 32px;
  height: 32px;
  @include flex-center
}
